<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        this is header
    </header>
    <nav>
        <ul>
            <li>
                <a href="">nav 1</a>
            </li>
            <li>
                <a href="">nav 2</a>
            </li>
        </ul>
    </nav>
    <section class="content-area">
        <aside>
            i am side bar
        </aside>
        <article>
            {{{body}}}
        </article>
    </section>
</body>
</html>